<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Delete existing list</title>
    </head>
    <body>
        <main>
            <div class="container">
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </main>
    </body>
</html>
