<!DOCTYPE html>
<html>
    <head>
        <title>Todo items</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_details.name }}</h1>
                <p>
                    <a href="{% url 'update' pk=todo_details.pk %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'delete' pk=todo_details.pk %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_details.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{% if item.due_date %}{{ item.due_date|date:"M d, Y" }}{% else %}No due date{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
