<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit an existing list</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Edit an existing list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
