<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in todos %}
                        <tr>
                            <td><a href="{% url 'todo_detail' i.id %}">{{ i.name }}</a></td>
                            <td>{{ i.items.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
